<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Ninja Suite">

    <listeners>
        <listener class-name="com.krce.ninja.utils.ScreenshotListener"/>
    </listeners>

    <test name="UI Tests">
        <classes>
            <class name="com.krce.ninja.tests.AuthTest"/>
            <class name="com.krce.ninja.tests.ProductTest"/>
            <class name="com.krce.ninja.tests.FormValidationTest"/>
            <class name="com.krce.ninja.tests.CheckoutTest"/>
            <class name="com.krce.ninja.tests.CartTest"/>
        </classes>
    </test>

</suite>